<p>When calculating the mortality rate, we need:

    The number of actual cases. We need to know the number of actual cases (not merely the reported ones, which are typically only a small portion of the actual ones) that have already had an outcome (positive or negative: recovery or death), not the current cases that still have to resolve (the case sample shall contain zero active cases and include only "closed" cases).
    The number of actual deaths related to the closed cases examined above.

Considering that a large number of cases are asymptomatic (or present with very mild symptoms) and that testing has not been performed on the entire population, only a fraction of the SARS-CoV-2 infected population is detected, confirmed through a laboratory test, and officially reported as a COVID-19 case. The number of actual cases is therefore estimated to be at several multiples above the number of reported cases. The number of deaths also tends to be underestimated, as some patients are not hospitalized and not tested.

If we base our calculation (deaths / cases) on the number of reported cases (rather than on the actual ones), we will greatly overestimate the fatality rate. </p>