<p>The incubation period (time from exposure to the development of symptoms) of the virus is estimated to be between 2 and 14 days based on the following sources: </p>

<ul>
    <li>The World Health Organization (WHO) reported an incubation period for COVID-19 between 2 and 10 days</li>
    <li>China’s National Health Commission (NHC) had initially estimated an incubation period from 10 to 14 days</li>
    <li>The United States' CDC estimates the incubation period for COVID-19 to be between 2 and 14 days</li>
    <li>DXY.cn, a leading Chinese online community for physicians and health care professionals, is reporting an incubation period of "3 to 7 days, up to 14 days".</li>
</ul>
